body{
    margin: 0px;
    padding: 0px;

}
div{
    text-align: center;
    background-color: lightseagreen;
width: 100%;

}
div button{
    border-radius: 5px;
    height: 80px;
    width:200px;
    font-size: 20px;
    color: blueviolet;
}